body {
  margin: 0;
}

img {
  width: 100%;
}

h3 {
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}

div {
  text-align: center;
}

.container {
  position: relative;
}

.outer-data-box {
  background-color: black;
  width: 39.918%;
  height: 42.17%;
  position: absolute;
  right: 0.85%;
  top: 0.4%;
}

.inner-data-box {
  background-color: white;
  width: 95.9%;
  height: 94.3%;
  position: absolute;
  right: 2.2%;
  top: 3%;
}

.show-data {
  text-align: left;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* .data-in-box {
  font-size: 350%;
  font-family: sans-serif;
  margin: 19% 18%;
} */

.outer-date-and-time {
  background-color: black;
  width: 24.525%;
  height: 8.33%;
  position: absolute;
  right: 1.825%;
  top: 42.95%;
}

.inner-date-and-time {
  background-color: white;
  width: 94.2%;
  height: 72.5%;
  position: absolute;
  right: 2.9%;
  top: 12.9%;
}

.date-and-time {
  width: 99%;
  height: 99%;
  position: absolute;
  right: 0.5%;
  top: 0.5%;
}

.show-time-date {
  width: 100%;
  height: 100%;
  position: absolute;
}

.class_room_1_left {
  background-color: #ff751a;
  width: 169px;
  height: 152.5px;
  position: absolute;
  left: 323px;
  top: 9px;
}

.class_room_1_right {
  background-color: #ff751a;
  width: 167px;
  height: 153.5px;
  position: absolute;
  left: 639.5px;
  top: 9px;
}

.class_room_2_left {
  background-color: #ff751a;
  width: 169px;
  height: 151px;
  position: absolute;
  left: 323px;
  top: 170px;
}

.class_room_2_right {
  background-color: #ff751a;
  width: 165.5px;
  height: 146px;
  position: absolute;
  left: 640.5px;
  top: 170px;
}

.class_room_3 {
  background-color: #ff751a;
  width: 168.5px;
  height: 116.5px;
  position: absolute;
  left: 322px;
  top: 329px;
}

.wash_room {
  background-color: brown;
  width: 166px;
  height: 119.5px;
  position: absolute;
  left: 640.5px;
  top: 323px;
}

.open_space_1 {
  background-color: #ccff33;
  width: 264px;
  height: 305px;
  position: absolute;
  left: 640.5px;
  top: 449.5px;
}

.open_space_2 {
  background-color: #ccff33;
  width: 161px;
  height: 148px;
  position: absolute;
  left: 324px;
  top: 764px;
}

.stairs_1 {
  background-color: red;
  width: 171.5px;
  height: 82px;
  position: absolute;
  left: 320.5px;
  top: 453px;
}

.stairs_1_button {
  position: absolute;
  width: 65%;
  left: 30px;
  bottom: 5px;
}

.modal-window {
  display: none;
  width: 300px;
  height: 300px;
}

.stairs_2 {
  background-color: red;
  width: 90px;
  height: 151.5px;
  position: absolute;
  left: 734px;
  top: 852.5px;
}

.stairs_2_button {
  position: absolute;
  width: 48%;
  left: 25px;
  bottom: 10px;
}

.hod_room {
  background-color: #1ab2ff;
  width: 183px;
  height: 200px;
  position: absolute;
  left: 1079.5px;
  top: 555.4px;
}

.library {
  background-color: #1ab2ff;
  width: 230px;
  height: 149.7px;
  position: absolute;
  left: 1033px;
  top: 854.3px;
}

.principal_room {
  background-color: #1ab2ff;
  width: 158px;
  height: 200px;
  position: absolute;
  left: 913.5px;
  top: 555.4px;
}

.reading_room {
  background-color: #1ab2ff;
  width: 193px;
  height: 149.7px;
  position: absolute;
  left: 832.5px;
  top: 854.3px;
}

/* span {
  font-weight: bold;
  text-decoration: underline;
} */

.hover-class:hover {
  background-color: violet;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Center the loader */
 /* #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

/* Add animation to "page content" */
/* .animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
} */
